.container {
    margin: 0 auto;
    height: 100%;
    width: 960px;
}

.clearfixx {
    overflow: auto;
    clear: both;
}
body {
    font-family: Arial; HelveticaNeue; Helvetica; sans-serif;
    color: #777777;
    background-color: #777777;
    font-size: 18px;
    text-align: center;
    height: 100%;
}

header {
    background: #ebebeb;
    height: 10px;
    padding: 30px;
    margin-top: 5px;
}

nav {
    background: #ebebeb;
    height: 10px;
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

section {
    position: relative;
    height: 300px;
    width: 495px;
    background: #ebebeb;
    float: left;
    padding-top: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

article {
    color: #ebebeb;
    background-color: #777777;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 5px;
    border-style: solid;
    margin-left: 5px;
    height: 200px;
}

h1 {
    color: #777777;
    background-color: #ebebeb;
    padding-top: 25px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 40px; 
}

p {
    color: #777777;
    background-color: #ebebeb;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

aside {
    height: 300px;
    width: 415px;
    background: #ebebeb;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 15px;
    float: left;
}

footer {
    clear: both;
    background: #ebebeb;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 960px;
    text-align: center;
}